.button {
  font-family: Optima, sans-serif;
  background-color: #627261;
  color: white;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

  


 
 
